body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
}

#resetBtn{
  z-index: 1;
  top: 90%;
  /* left: 46%; */
  font-family: "Montserrat", sans-serif;
}

h3{
  /* color: white; */
  text-align: center;
}